apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: rag-system

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - mlflow-deployment.yaml
  - ingress.yaml

commonLabels:
  app: rag-system
  version: v0.1.0



